# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
log.txt

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

# Backend
bin
obj
packages
Backend/TestResults/*
Backend/Rrd.ActiveDocument.Backend/pkg
Backend/Rrd.ActiveDocument.Backend/Backup*
Backend/AuthorizationApplication/AuthorizationApplication/pkg
Backend/AuthorizationApplication/AuthorizationApplication/Backup*

# Frontend
UI/public/build
UI/public/js/config.js
UI/*.xml
UI/build
UI/sonarlintreport_files
UI/sonarlintreport_rules
UI/sonarLint.html
coverage
.sonar